<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="cylinder_inertial" params="radius length mass *origin">
        <inertial>
        <mass value="${mass}" />
        <xacro:insert_block name="origin" />
        <inertia ixx="${0.0833333 * mass * (3 * radius * radius + length * length)}" ixy="0.0" ixz="0.0"
            iyy="${0.0833333 * mass * (3 * radius * radius + length * length)}" iyz="0.0"
            izz="${0.5 * mass * radius * radius}" />
        </inertial>
    </xacro:macro>
    <xacro:macro name="rv4frl" params="parent prefix *origin">
        <!-- Inertial parameters -->
        <xacro:property name="base_mass" value="0.4" />  <!-- These mass are INCORRECT -->
        <xacro:property name="shoulder_mass" value="0.37000" />
        <xacro:property name="upper_arm_mass" value="0.33930" />
        <xacro:property name="elbow_mass" value="0.22750" />
        <xacro:property name="forearm_mass" value="0.12190" />
        <xacro:property name="wrist_mass" value="0.12190" />
        <xacro:property name="hand_flange_mass" value="0.01879" />

        <material name="${prefix}white">
            <color rgba="1.0 1.0 1.0 1.0"/>
        </material>
        <joint name="${prefix}rv4frl_world_to_base" type="fixed">
            <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
            <parent link="${parent}"/>
            <child link="${prefix}rv4frl_base"/>
        </joint>
        <joint name="${prefix}rv4frl_joint_1" type="revolute">
            <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
            <parent link="${prefix}rv4frl_base"/>
            <child link="${prefix}rv4frl_shoulder"/>
            <axis xyz="0 0 1"/>
            <limit effort="50" lower="-4.1887902047863905" upper="4.1887902047863905" velocity="7.3303828583761845"/>
            <dynamics damping="1.0" friction="1.0"/>
        </joint>
        <joint name="${prefix}rv4frl_joint_2" type="revolute">
            <origin rpy="0 0 0" xyz="0.0 0.0 0.35"/>
            <parent link="${prefix}rv4frl_shoulder"/>
            <child link="${prefix}rv4frl_upper_arm"/>
            <axis xyz="0 1 0"/>
            <limit effort="50" lower="-2.0943951023931953" upper="2.0943951023931953" velocity="5.8643062867009474"/>
            <dynamics damping="1.0" friction="1.0"/>
        </joint>
        <joint name="${prefix}rv4frl_joint_3" type="revolute">
            <origin rpy="0 0 0" xyz="0.0 0.0 0.31"/>
            <parent link="${prefix}rv4frl_upper_arm"/>
            <child link="${prefix}rv4frl_elbow"/>
            <axis xyz="0 1 0"/>
            <limit effort="50" lower="0.0" upper="2.8623399732707" velocity="4.363323129985823"/>
            <dynamics damping="1.0" friction="1.0"/>
        </joint>
        <joint name="${prefix}rv4frl_joint_4" type="revolute">
            <origin rpy="0 0 0" xyz="-0.05 0.0 0.0"/>
            <parent link="${prefix}rv4frl_elbow"/>
            <child link="${prefix}rv4frl_forearm"/>
            <axis xyz="0 0 1"/>
            <limit effort="50" lower="-3.490658503988659" upper="3.490658503988659" velocity="9.42477796076938"/>
            <dynamics damping="1.0" friction="1.0"/>
        </joint>
        <joint name="${prefix}rv4frl_joint_5" type="revolute">
            <origin rpy="0 0 0" xyz="0.0 0.0 0.335"/>
            <parent link="${prefix}rv4frl_forearm"/>
            <child link="${prefix}rv4frl_wrist"/>
            <axis xyz="0 1 0"/>
            <limit effort="50" lower="-2.0943951023931953" upper="2.0943951023931953" velocity="10.873401239924673"/>
            <dynamics damping="1.0" friction="1.0"/>
        </joint>
        <joint name="${prefix}rv4frl_joint_6" type="revolute">
            <origin rpy="0 0 0" xyz="0.0 0.0 0.085"/>
            <parent link="${prefix}rv4frl_wrist"/>
            <child link="${prefix}rv4frl_hand_flange"/>
            <axis xyz="0 0 1"/>
            <limit effort="50" lower="-6.283185307179586" upper="6.283185307179586" velocity="12.566370614359172"/>
            <dynamics damping="1.0" friction="1.0"/>
        </joint>
        <joint name="${prefix}rv4frl_hand_tcp" type="fixed">
            <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
            <parent link="${prefix}rv4frl_hand_flange"/>
            <child link="${prefix}rv4frl_default_tcp"/>
            <dynamics damping="1.0" friction="1.0"/>
        </joint>
        <link name="${prefix}rv4frl_base">
            <visual>
            <material name="${prefix}white"/>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="package://melfa_description/meshes/rv4frl/base.STL"/>
            </geometry>
            </visual>
            <collision>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="package://melfa_description/meshes/rv4frl/base.STL"/>
            </geometry>
            </collision>
            <xacro:cylinder_inertial radius="0.06" length="0.05" mass="${base_mass}">
                <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
            </xacro:cylinder_inertial>
        </link>
        <link name="${prefix}rv4frl_shoulder">
            <visual>
                <material name="${prefix}white"/>
                <origin rpy="0 0 0" xyz="0 0 0"/>
                <geometry>
                    <mesh filename="package://melfa_description/meshes/rv4frl/shoulder.STL"/>
                </geometry>
            </visual>
            <collision>
                <origin rpy="0 0 0" xyz="0 0 0"/>
                <geometry>
                    <mesh filename="package://melfa_description/meshes/rv4frl/shoulder.STL"/>
                </geometry>
            </collision>
            <xacro:cylinder_inertial radius="0.06" length="0.05" mass="${shoulder_mass}">
                <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
            </xacro:cylinder_inertial>
        </link>
        <link name="${prefix}rv4frl_upper_arm">
            <visual>
                <material name="${prefix}white"/>
                <origin rpy="0 0 0" xyz="0 0 0"/>
                <geometry>
                    <mesh filename="package://melfa_description/meshes/rv4frl/upper_arm.STL"/>
                </geometry>
            </visual>
            <collision>
                <origin rpy="0 0 0" xyz="0 0 0"/>
                <geometry>
                    <mesh filename="package://melfa_description/meshes/rv4frl/upper_arm.STL"/>
                </geometry>
            </collision>
            <xacro:cylinder_inertial radius="0.06" length="0.05" mass="${upper_arm_mass}">
                <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
            </xacro:cylinder_inertial>
        </link>
        <link name="${prefix}rv4frl_elbow">
            <visual>
                <material name="${prefix}white"/>
                <origin rpy="0 0 0" xyz="0 0 0"/>
                <geometry>
                    <mesh filename="package://melfa_description/meshes/rv4frl/elbow.STL"/>
                </geometry>
            </visual>
            <collision>
                <origin rpy="0 0 0" xyz="0 0 0"/>
                <geometry>
                    <mesh filename="package://melfa_description/meshes/rv4frl/elbow.STL"/>
                </geometry>
            </collision>
            <xacro:cylinder_inertial radius="0.06" length="0.05" mass="${elbow_mass}">
                <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
            </xacro:cylinder_inertial>
        </link>
        <link name="${prefix}rv4frl_forearm">
            <visual>
                <material name="${prefix}white"/>
                <origin rpy="0 0 0" xyz="0 0 0"/>
                <geometry>
                    <mesh filename="package://melfa_description/meshes/rv4frl/forearm.STL"/>
                </geometry>
            </visual>
            <collision>
                <origin rpy="0 0 0" xyz="0 0 0"/>
                <geometry>
                    <mesh filename="package://melfa_description/meshes/rv4frl/forearm.STL"/>
                </geometry>
            </collision>
            <xacro:cylinder_inertial radius="0.06" length="0.05" mass="${forearm_mass}">
                <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
            </xacro:cylinder_inertial>
        </link>
        <link name="${prefix}rv4frl_wrist">
            <visual>
                <material name="${prefix}white"/>
                <origin rpy="0 0 0" xyz="0 0 0"/>
                <geometry>
                    <mesh filename="package://melfa_description/meshes/rv4frl/wrist.STL"/>
                </geometry>
            </visual>
            <collision>
                <origin rpy="0 0 0" xyz="0 0 0"/>
                <geometry>
                    <mesh filename="package://melfa_description/meshes/rv4frl/wrist.STL"/>
                </geometry>
            </collision>
            <xacro:cylinder_inertial radius="0.06" length="0.05" mass="${wrist_mass}">
                <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
            </xacro:cylinder_inertial>
        </link>
        <link name="${prefix}rv4frl_hand_flange">
            <visual>
                <material name="${prefix}white"/>
                <origin rpy="0 0 0" xyz="0 0 0"/>
                <geometry>
                    <mesh filename="package://melfa_description/meshes/rv4frl/hand_flange.STL"/>
                </geometry>
            </visual>
            <collision>
                <origin rpy="0 0 0" xyz="0 0 0"/>
                <geometry>
                    <mesh filename="package://melfa_description/meshes/rv4frl/hand_flange.STL"/>
                </geometry>
            </collision>
            <xacro:cylinder_inertial radius="0.06" length="0.05" mass="${hand_flange_mass}">
                <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
            </xacro:cylinder_inertial>
        </link>
        <link name="${prefix}rv4frl_default_tcp"/>
    </xacro:macro>
</robot>